body{
    padding: 0 0 60px 0;
}
.contenedor{
    display: flex;
    justify-content: center;
    aside{
        width: 20%;
    }
    section{
        width: 100%;
    }
}


@media only screen and (max-width: 950px) {
    .contenedor{
        flex-direction: column;
        gap: 4px;
    }
  }

