<link rel="stylesheet" href="/css/cards.css">

{{#each usuariosGenero}}
<a href="/about"></a>
<div class="card">
    <div>
        <div>
            <img src="/img/prueba.jpg" alt="">
        </div>
        <h1>{{this.nombreUsuario}}</h1>
        <p>nombre artista</p>
        <p>genero musical</p>
    </div>
    <button type="button" class="btn btn-light">Conectar</button>
</div>
</a>
{{/each}}