<link rel="stylesheet" href="/css/cards.css">

<a href="/about">
<div class="card">
    <div>
        <div>
            <img src="/img/prueba.jpg" alt="">
        </div>
        <p>nombre artista</p>
        <p>genero musical</p>
    </div>
    <button type="button" class="btn btn-light">Conectar</button>
</div>
</a>

<a href="/community">
<div class="card">
    <div>
        <div>
            <img src="/img/prueba.jpg" alt="">
        </div>
        <p>nombre artista</p>
        <p>genero musical</p>
    </div>
    <button type="button" class="btn btn-light">Conectar</button>
</div>
</a>


