<footer class="text-center text-white fixed-bottom" style="background-color: #1f1f1f;">
  <!-- Grid container -->
  
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #151515;">
    © 2023 Copyright: Full Stack Javascript
    
  </div>
  <!-- Copyright -->
</footer>