{{#> plantilla}}

<div class="container-lg">
    <h1>Community</h1>
        <h3>Genres</h3>
    <div class="splide" id="splide1">
        <div class="splide__track">
            <div class="splide__list">
                {{#each generos}}
                    <div class="splide__slide">
                    <div class="img_box">
                        <a href="http://localhost:3000/genero/{{this.idGenero_musical}}"">
                            <img src="{{this.imagenGenero_musical}}" alt="" width="150px" height="150px">
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <hr>
    <h3>Top Artists</h3>
    <div class="splide" id="splide2">
        <div class="splide__track">
            <div class="splide__list">

                {{#each top10}}
                <div class="splide__slide">
                    <div class="img_box">
                        <a href="https://splidejs.com/">
                            <img src="/img/prueba.jpg" alt="" width="150px" height="150px">
                        </a>
                        <div>
                            <p>{{this.nickUsuario}}</p>
                            <p>Genero: {{this.nombreGenero_musical}}</p>
                        </div>
                        
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
<hr>
</div>


<!--   
{{#each nombres}}
    <p>nombres del array</p>
{{/each}}
<div class="contenedor">
    {{> cards}}
</div>
-->
<link rel="stylesheet" href="/css/community.css">

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>

<script type="text/javascript">
    var splide1 = new Splide( '#splide1', {
        drag: boolean = true,
        arrows: boolean = false,
        height   : '180px',
        start: number = 0,
        gap      : '12px',
        autoWidth: true,
    } ).mount();

    var splide2 = new Splide( '#splide2', {
        perPage: 1,
        drag: boolean = true,
        pagination: boolean = false,
        height   : '212px',
        start: number = 0,
        gap      : '12px',
        autoWidth: true
    } ).mount();


</script>
{{/plantilla}}