{{#> plantilla}}

<link rel="stylesheet" href="/css/genres.css">
<link rel="stylesheet" href="/css/cards.css">

<div class="container-md">
    <h1>{{nombreGenero}}</h1>

    <div class="contenedor-cards">
            {{#each usuariosGenero}}
                <div class="card">
                    <div>
                        <div>
                            <img src="/img/prueba.jpg" alt="">
                        </div>
                        <p>{{this.nombreArtistaPerfil}}</p>
                        <p>Genero: {{this.nombreGenero_musical}}</p>
                    </div>
                    <a href="http://localhost:3000/perfil/{{this.idUsuario}}" class="btn btn-light"> ver </a>
                </div>
            {{/each}}
    </div>




</div>

{{/plantilla}}