{{#> plantilla}}
<link rel="stylesheet" href="/css/index.css">

<main class="main-index">
    <div class="contenedor">
        
        <h3>
            BPM Community
            <br>
            Music & Friends
        </h3>
        <h4>
            Una plataforma para hacer conexiones y musica 
            <br>
            con muchos artistas a nivel global.
        </h4>

        <div class="sesion2">
            <a href="/login">
                <button type="button" class="btn btn-light">Login</button>
            </a>
            <a href="/signup">
                <button type="button" class="btn btn-dark">Get Started</button>            
            </a>
        </div>
        
    </div>

    
    <img src="https://assets.bpmmusic.io/BPMS_Browse_Desktop_Open_Format_02_f4c1fd9f55.png" alt="" width="80%">
</main>

{{/plantilla}}