{{#> plantilla}}
<link rel="stylesheet" href="/css/signup.css">

<main class="main-index">

    <div class="contenedor">
        <h3>Sign Up</h3>
        <form action="/signup" method="POST">
            <input class="form-control" type="text" id="name" placeholder="Name" name="name">
            <input class="form-control" type="text" id="lastname" placeholder="Lastname" name="lastname">
            <input class="form-control" type="text" id="username" placeholder="Username" name="username">
            <input class="form-control" type="email" id="email" placeholder="Email" name="email">
            <input class="form-control" type="password" id="password" placeholder="Password" name="password">
            <button type="submit" value="enviar">Sign Up</button>
        </form>
        <p>tienes una cuenta?
            <a href="/login">Ingresa aquí</a>
        </p>
    </div>
</main>

<script src="/js/signup.js"></script>
{{/plantilla}}