.card{
    background-color: #212121;
    width: 240px;
    height: 320px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #e6efe8;
    img{
        width: 100%;
    }
}