.contenedor-cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1220px) {
    .contenedor-cards{
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width: 850px) {
    .contenedor-cards{
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 400px) {
    .contenedor-cards{
        grid-template-columns: auto;
    }
}
